<div class="copyright">
    <p> &copy; Slopie Designs | Design by <a href="http://Slopie.Design/" >Slopie Designs</a></p>
</div>	
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
</script>